.CurrentCardDiv {
  padding: 15px;
  background-color: #3F137C;
  overflow-y: scroll;
  overflow-x: hidden;
}

.CurrentCardDiv img {
  max-width: 80%;
  max-height: 40vh;
}

.CurrentCardDivImageDiv {
  display: flex;
  justify-content: center;
}

.CurrentCardDiv div {
  margin-top: 20px;
}

.CurrentCardDivAttackAndDefenseDiv span {
  margin-right: 20px;
}
