.AllCardsDiv {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 80px;
}

.AllCardsDiv .CardDiv img {
  height: 200px;
}

.AllCardsDiv .CardDiv {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}
