.DuelDiv {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.DuelHeaderDiv {
  height: 15vh;
}

.DuelMiddleDiv {
  height: 65vh;
  display: flex;
}

.DuelMiddleDiv .PlaymatsDiv {
  width: 75%;
  height: 100%;
}

.DuelMiddleDiv .CurrentCardDiv {
  width: 25%;
  height: 100%;
}

.DuelFooterDiv {
  height: 30vh;
  display: flex;
}

.DuelFooterDiv .HandDiv {
  width: 75%;
}

.DuelFooterDiv .ProceedDiv {
  width: 25%;
}

.HandDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.HandDiv ol {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
}

.HandCardLi {
  height: 100%;
  padding: 15px;
}

.HandCardLi img {
  max-height: 100%;
}
